* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;    
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.app {
    
}

.pantalla{padding-top:60px;}
.pantalla img{width:100%;margin:0px !important;display:block;}
.pantalla .header{clear:both;float:left;width:100%;position:fixed;margin-top:-60px;}
.pantalla .header img{max-width:13%;float:left;display:inline;}
.pantalla .header b{display:block;width:74%;height:40px;font-size:20px;text-align:center;font-family:arial;float:left;margin-top:10px;}
.pantalla .header img.i-r{float:right;margin-top:22px;}
.pantalla .btns{position:relative;}
.pantalla .btns button{display:block;}
.pantalla .btns button.l-i{left:0px;opacity:0.1;background:black;position:absolute;height:100%;width:45%;top:0px;border:0px;}
.pantalla .btns button.l-d{right:0px;opacity:0.1;background:black;position:absolute;height:100%;width:45%;top:0px;border:0px;}


